<a href="https://colab.research.google.com/github/qotkdals/python_demo/blob/master/101_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 비교연산자
- <    >    <=    >=    ==    !=
- 결과는 논리값 : True , False

In [ ]:
print(3 < 2)
print(3 > 2)
print(3 == 2)
print(3 != 2)

False
True
False
True

# 논리연산자
 - #&       |        ^참고
 - and      or         not

In [ ]:
#print(True & True)
print(True and True)
#print(True & False)
#print(True | True)
print(True or True)
#print(True | False)
print(not True)

True
True
False
True
True
True
False

# existance
- python에서 조건은 존재론(existance)적이다 => truthy, falsey
- c ,JAVA 는 불가
- SCRIPT, Python 가능

In [ ]:
# 0은 숫자가 없는 것과 같음 ->falsy
a = 0.0
if a:# python만 가능.조건문이 들어가야하지만 값이 들어가면 존재론으로 변한다
  print('yes')#따로 중괄호로 묶지는 않지만 줄은 맞춰줘야한다
else :
  print('No')

No

In [ ]:
# None은 숫자가 없는 것과 같음 -> falsy or falsey(문법차이)
a = None
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
# 비어있는 dict는 없는것과 같음 -> falsey ,boolean과 다른값
a = {}
if a :
  print('Yes')
else:
  print('No')

No

In [ ]:
#존재론적 이므로 값이 없는것으로 나옴
a = int()
b = float()
c = list()
d = tuple()
e = str()
f = set()
g = frozenset()

if g :
  print('Yes')
else:
  print('No')

No

In [ ]:
#or 이므로 둘중하나라도 True면 True값이 나옴
3<2 or 4<5

True

In [ ]:
# and는 앞이 True이면 뒤에 값이 반환한다.
3 and 4

4

In [ ]:
#결정권은 뒤에 있음
3  and  0

0

In [ ]:
#앞에가 존재하지 않으면 뒤에 결정권이 있더라도 실행자체를 안함=앞에값을 반환
# 비어있는 문자열은 없는 것과 같음 -> falsey
0  and  3

0

In [ ]:
'' and 4

''

In [ ]:
# 앞이 True이면 앞의 값이 리턴된다.
1 or 4

1

In [ ]:
# 앞이 False이면 뒤의 값이 리턴된다.
'' or 4

4

# 제어문(statement controller)
- 문장의 흐름을 제어해 준다.
- 조건문. 반복문
- 조건문
  - if~else
- 반복문
  - for ~ in
  - while

- break, countinue

```
if 조건식 :
   수행할 문장
else:
   수행할 문장
```

In [ ]:
a = 8
if a>5 :
  print('OK')
else:
  print('Fail')

OK

In [ ]:
 #산술연산자와 비교연산자가 나올때 산술 연산자 우선수행
a = 8
if a%2==0 :
  print('even')#짝수
else:
  print('odd')#홀수

even

In [ ]:
#조건을 만족하면 else는 생략가능
name = '홍길동'
if name :
  print(name + '님')

홍길동님

In [ ]:
# if 조건에 문장을 사용할 수 없다.
#if a=4:#-error
   #print (a)

In [ ]:
# 80이상이면 '상', 80미만 60이상이면 '중', 60미만이면 '하'
# 다중 if 문을 사용할때는 else if를 ->  elif
a = 65
if a>=80 :
  print('상')
elif a>=60 :
  print('중')
else:
  print('하')

중

In [ ]:
a = 65
if a >=80:
   print('상')
else:
 if a>=60:
   print('중')
 else:
   print('하')

중

In [ ]:
a = 65

if a >= 60:
  if a >=80:
    print('상')
  else:
    print('중')
else:
    print('하')

중

In [ ]:
member = True
grade = 'A' # 'S' 50, 'A' 30
point = 0

if member :
  #대체 문장
  #pass 안쓸시 error=expected an indented block after 'if' statement on line 4
  if grade == 'S':
     point = 50
  else:
     point = 30

else:
  point=0

print(point)

30

In [ ]:
#input입력값은 스트링으로 시작
#int로 정수값으로 변환 가능
age = int(input('나이:'))
gender = input('성별[남,여]:')

if gender =='남':
  if age >= 20 :
     print('성인 남성입니다.')
  else:
     print('청소년 남성입니다.')
else:
  if age >=20 :
     print('성인 여성입니다.')
  else:
     print('청소년 여성입니다.')

나이:19
성별[남,여]:남
청소년 남성입니다.

* 퀴즈
1. 놀이기구에 키가 140cm이상이고,
  나이가 8세 이상인 사람만 탑승한다고 가정합니다.
2. 먼저 키(height)와 나이(age)를 입력받으세요.
3. 조건문 if~else를 사용하여 2개의 조건이 모두 참일 경우
  "놀이기구에 탑승할 수 있습니다."를 출력하세요.
4. 위 조건이 거짓일 경우 "놀이기구에 탑승할 수 없습니다."
    를 출력하세요.
5. 조건식과는 별개로 "오늘 하루 즐거운 시간되세요!"
   를 출력하세요.
'''

In [ ]:
height = int(input('키:'))
age = int(input('나이:'))

if age >=8 :
   if height >= 140 :
     print( "놀이기구에 탑승할 수 있습니다.")
   else:
     print("놀이기구에 탑승할 수 없습니다.")
else:
     print("놀이기구에 탑승할 수 없습니다.")

print("오늘 하루 즐거운 시간되세요!")

키:8
나이:140
놀이기구에 탑승할 수 없습니다.
오늘 하루 즐거운 시간되세요!

In [ ]:
height = int(input('키:'))
age = int(input('나이:'))

if height >=140 and age >=8 :
  print("놀이기구에 탑승할 수 있습니다.")
else:
  print("놀이기구에 탑승할 수 없습니다.")


print( "오늘 하루 즐거운 시간되세요!")

키:8
나이:140
놀이기구에 탑승할 수 없습니다.
오늘 하루 즐거운 시간되세요!

'''
[조건]
1. 18세 미만은 이 영화를 볼 수 없다
2. 18세 이상 59세 이하의 손님은 8000원
3. 60세 이상의 손님은 5000원
4. 포인트카드를 가지고 있고 지금까지 5편의 영화를 본 손님은 5000원

18세 미만이면 '티켓을 팔 수 없다'를 기술한 부분이다.
60세 이상이거나 포인트가 있고 5편 관람한 할인 대상자는 '티켓은 5000원입니다.
그외는 '티켓은 8000원입니다'로 출력하는 프로그램을 구현하시오.

[테스트1]
age=35
point_card =True
count=5

출력결과 : 티켓은 5000원입니다

[테스트2]
age=35
point_card =True
count=5

출력결과 : 티켓을 판매할 수 없습니다

[테스트3]
age=35
point_card =True
count=3

출력결과: 티켓은 8000원입니다
'''

In [ ]:
age = int(input('나이:'))
point_card = bool(input('포인트 소지여부:'))#출력값이 True False이므로
count = int(input('영화 관람 티켓 갯수:'))

if age < 18:
     print('티켓을 판매할 수 없습니다')
elif age >=60 or (point_card and count==5):
     print('티켓은 5000원입니다')
else:
     print('티켓은 8000원입니다')




#if a >=80:
   #print('상')
#else:
 #if a>=60:
  # print('중')
 #else:
   #print('하')

나이:65
포인트 소지여부:5
영화 관람 티켓 갯수:5
티켓은 5000원입니다

In [ ]:
import sys
year = int(input('year:'))
month = int(input('month:'))
end_day_31 = [1,3,5,7,8,10,12]
end_day_30 = [4,6,9,11]
end = 28
check = ''

if not(month >=1 and month <=12):
  print('월은 1부터 12까지만 입력해 주세요.')
  sys.exit()#현재시스템을 강제로 종료시켜준다-아래는 실행시켜주지않는다.-사용하려면 사전에 import해서 사용
  #return #을주면 해당값이 아닌값을 리턴 하지않는다.다른언어 return:



#if month==4 or month==6 or month==9 or month ==11: 도 가능
if month in end_day_30:
   day=30
else:
   day=31
# 윤년 : 연도를 4로 나누어 떨어지고 100으로 나누어 떨어지면 안되거나
#              400로 나누어 떨어지면 된다.
if (year%4==0 and year%100!=0) or year%400==0 :

  #print('{} 년도는 윤년'.format(year))
  check = '윤년'
  if month ==2:
    day = 29

  #elif month==4 or month==6 or month==9 or month ==11
else:
  #print('{}년도는 평년'.format(year))
  check = '평년'
  if month ==2:
    day = 28

print('{}년도 {}월은 {}. 마지막일 {}일입니다.'.format(year, month, check, day))#{}안에 공백 x, 크기일정

year:2016
month:2
2016년도 2월은 윤년. 마지막일 29일입니다.

## 반복문 : while
반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.   
대부분의 프로그래밍 언어는 while과 for을 지원한다.
else
 - if~else
 - try - except - else -finally
 - while - else (python만 while~else)=else영역은 생략가능


```
while 조건식:
  수행할 문장
else:
  수행할 문장
```

In [ ]:
 # while문이 완벽히 돌았으므로 end가 출력.
 #수식은 위에서 아래로
 a = 10
 while a>5 :
  a -= 1 # a = a - 1 #(6,7,8,9,10)-1(리턴)
  print(a)
 else:
  print('end')

9
8
7
6
5
end

In [ ]:
 # while문을 강제적으로 빠져나왔기 때문에 else영역을 실행하지 않는다.(break에서 멈춤)
 a = 10
 while a>5 :
  a -= 1 # a = a - 1 #(6,7,8,9,10)-1->(리턴)
  print(a)
  if a==5:
    break #반복문을 강제적으로 빠져나올때 사용한다. 즉 반복문을 중단시킨다
 else:
  print('end')

9
8
7
6
5

In [ ]:
# continue는 다음 루프(조건식)로 바로 넘어간다.
# 반복문을 중단하지는 않으므로 else문이 실행된다.
a = 10
while a > 5:
  a -= 1
  if a %2 == 0 :
    continue#리턴하다가 6이나오면 반복문 조건식으로 이동
  print(a)
else:
  print('end')

9
7
5
end

In [ ]:
# 1부터 10까지 출력하는 프로그램
a = 1
while a <= 10:
  print(a)
  a+=1
  #a++ =python에서 불가 a= a+1, a+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1부터 10까지 출력하는 합계를 구하는 프로그램
a = 1
sum = 0
while a <= 10:
  sum = sum + a
  #print(a)
  #sum = sum + a
  a=a+1

#else:
  print('sum={}'.format(sum))

sum=1
sum=3
sum=6
sum=10
sum=15
sum=21
sum=28
sum=36
sum=45
sum=55

In [ ]:
# 1부터 10까지 짝수, 홀수 합계를 구하는 프로그램
a = 1
even = 0 #짝수
odd = 0 #홀수
while a <= 10 :
  if a % 2 == 1: #홀수 ?
    odd = odd + a #odd +=a
  else:
    even = even + a
  a += 1

print('짝수={}'.format(even)) #첫자리를 뛰면 계속 리턴함 10까지
print('홀수={}'.format(odd))

짝수=30
홀수=25

```java
int[] data = {10,20,30,40,50};
for(int num : data){
   system.out.println(num);
}

[출력결과]
10 20 30 40 50
```

```javascript
data = {10,20,30,40,50};
  for(num in data){
    console.log(num)
}
[출력결과]
0 1 2 3 4

data = {10,20,30,40,50};
  for(num of data){
    console.log(num)
}
[출력결과]
10 20 30 40 50
```
```python
for 변수 in interable :
  실행구문
```

```
for문과 함께 사용되는 함수
- for 변수 in range(시작번호, 마지막번호, 증감값):
     실행구문

for 변수 in enumerate(sequence, start):
     실행구문

for 변수 in zip(data1, data2,....):
     실행구문

```

### range

In [ ]:
#range(end)
for i in range(5):#값이 하나이면 마지막값 =0부터 5미만 값이 생성
  print(i)

0
1
2
3
4

In [ ]:
#range(start, end)
for i in range(1,5):# 1부터 5 미만의 값이 생성된다.증강값이 생략이므로 자동으로 1씩 증가
   print(i)

1
2
3
4

In [ ]:
#range(start, end, step)
for i in range(1,5,2):#1부터 5미만의 값이 2씩 증가해서 생성
  print(i)

1
3

#### enumerate 함수
 - enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀더 효율적으로 사용하기 위한 함수이다.
 - enumerate()함수는 순서자료형(list, tuple, str)을 입력으로 받아 인덱스를 포함하는 enumerate 객체를 리턴한다.
 - enumerate([순서자료형], [시작값=0])의 형식을 가지며 순서자료형은 반복자가 가능한 객체가 입력되고 시작값은 입력시 해당수 부터 증가하며, 생략했을 경우 기본값은 0 이다.

In [ ]:
for k in enumerate(['apple','python','microsoft']):#따로따로 가져올떄 tuple로 가져옴
  print(k)

(0, 'apple')
(1, 'python')
(2, 'microsoft')

In [ ]:
for k,v in enumerate(['apple','python','microsoft']):
  print(k,v)

0 apple
1 python
2 microsoft

In [ ]:
for k, v in enumerate(['apple','python','microsoft'],1):#1을 넣어주므로써 인덱스 시작값이 1이다
  print(k, v)

1 apple
2 python
3 microsoft

In [ ]:
for k in enumerate({'one':10,'two':20}):
 print(k)
 print(type(k))

(0, 'one')
<class 'tuple'>
(1, 'two')
<class 'tuple'>

In [ ]:
a = {'one':10,'two':20}
for k,v in enumerate(a):
 print(k, a[v])

0 10
1 20

In [ ]:
for k, v in enumerate({10,20,30}):
  print(k, v)

0 10
1 20
2 30

## zip
- 매개인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저장한다.

In [ ]:
#같은 인덱스값끼리 묶어준다
a = [1,2,3,4,5]
b = ['a','b','c','d','f']

for x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'f')

In [ ]:
#print = 3 #callable오류 나올시 미리 선언했기때문에 지워준다 del~
#print(4)

4

In [ ]:
a = []
for x in range(2, 10):
  a. append(x)#값을 []리스트 안에 넣어주고싶을때

print(a)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#a = []
for x in range(2, 10): #2
  for y in range(1,10):#9
   print('{} X {} ={}'.format(x,y, x*y), end ='\t')
  print()

2 X 1 =2	2 X 2 =4	2 X 3 =6	2 X 4 =8	2 X 5 =10	2 X 6 =12	2 X 7 =14	2 X 8 =16	2 X 9 =18
3 X 1 =3	3 X 2 =6	3 X 3 =9	3 X 4 =12	3 X 5 =15	3 X 6 =18	3 X 7 =21	3 X 8 =24	3 X 9 =27
4 X 1 =4	4 X 2 =8	4 X 3 =12	4 X 4 =16	4 X 5 =20	4 X 6 =24	4 X 7 =28	4 X 8 =32	4 X 9 =36
5 X 1 =5	5 X 2 =10	5 X 3 =15	5 X 4 =20	5 X 5 =25	5 X 6 =30	5 X 7 =35	5 X 8 =40	5 X 9 =45
6 X 1 =6	6 X 2 =12	6 X 3 =18	6 X 4 =24	6 X 5 =30	6 X 6 =36	6 X 7 =42	6 X 8 =48	6 X 9 =54
7 X 1 =7	7 X 2 =14	7 X 3 =21	7 X 4 =28	7 X 5 =35	7 X 6 =42	7 X 7 =49	7 X 8 =56	7 X 9 =63
8 X 1 =8	8 X 2 =16	8 X 3 =24	8 X 4 =32	8 X 5 =40	8 X 6 =48	8 X 7 =56	8 X 8 =64	8 X 9 =72
9 X 1 =9	9 X 2 =18	9 X 3 =27	9 X 4 =36	9 X 5 =45	9 X 6 =54	9 X 7 =63	9 X 8 =72	9 X 9 =81

In [ ]:
a = []
for x in range(2, 10): #2
  for y in range(1,10):#9
    #print('{} X {} ={}'.format(x,y, x*y), end ='\t')
    a.append('{} X {} ={}'.format(x,y, x*y))
    a.append('\t')
  a.append('\n')

print(a)

['2 X 1 =2', '\t', '2 X 2 =4', '\t', '2 X 3 =6', '\t', '2 X 4 =8', '\t', '2 X 5 =10', '\t', '2 X 6 =12', '\t', '2 X 7 =14', '\t', '2 X 8 =16', '\t', '2 X 9 =18', '\t', '\n', '3 X 1 =3', '\t', '3 X 2 =6', '\t', '3 X 3 =9', '\t', '3 X 4 =12', '\t', '3 X 5 =15', '\t', '3 X 6 =18', '\t', '3 X 7 =21', '\t', '3 X 8 =24', '\t', '3 X 9 =27', '\t', '\n', '4 X 1 =4', '\t', '4 X 2 =8', '\t', '4 X 3 =12', '\t', '4 X 4 =16', '\t', '4 X 5 =20', '\t', '4 X 6 =24', '\t', '4 X 7 =28', '\t', '4 X 8 =32', '\t', '4 X 9 =36', '\t', '\n', '5 X 1 =5', '\t', '5 X 2 =10', '\t', '5 X 3 =15', '\t', '5 X 4 =20', '\t', '5 X 5 =25', '\t', '5 X 6 =30', '\t', '5 X 7 =35', '\t', '5 X 8 =40', '\t', '5 X 9 =45', '\t', '\n', '6 X 1 =6', '\t', '6 X 2 =12', '\t', '6 X 3 =18', '\t', '6 X 4 =24', '\t', '6 X 5 =30', '\t', '6 X 6 =36', '\t', '6 X 7 =42', '\t', '6 X 8 =48', '\t', '6 X 9 =54', '\t', '\n', '7 X 1 =7', '\t', '7 X 2 =14', '\t', '7 X 3 =21', '\t', '7 X 4 =28', '\t', '7 X 5 =35', '\t', '7 X 6 =42', '\t', '7 X 7 =49', '\t', '7 X 8 =56', '\t', '7 X 9 =63', '\t', '\n', '8 X 1 =8', '\t', '8 X 2 =16', '\t', '8 X 3 =24', '\t', '8 X 4 =32', '\t', '8 X 5 =40', '\t', '8 X 6 =48', '\t', '8 X 7 =56', '\t', '8 X 8 =64', '\t', '8 X 9 =72', '\t', '\n', '9 X 1 =9', '\t', '9 X 2 =18', '\t', '9 X 3 =27', '\t', '9 X 4 =36', '\t', '9 X 5 =45', '\t', '9 X 6 =54', '\t', '9 X 7 =63', '\t', '9 X 8 =72', '\t', '9 X 9 =81', '\t', '\n']

## Compression
 - Compression이란 iterable한 오브젝트를 생성하기 위한 방법 중 하나이다.
 - List Compression(LC)[]
 - Set Compression(SC){}
 - Dict Comression(DC)

### List Compression
 - List 정의시 값을 정하지 않고 호출시 리스트 내의 값들이 처리되도록 구성
 - A = [표현식 for 항목 in 반복가능객체(iterable)]
 - A = [표현식 for 항목 in 반복가능객체(iterable) if 논리식]
 - A = [표현식 for 항목1 in 반복가능객체(iterable)1 for 항목2 in 반복가능객체(iterable)2 if 논리식]

In [ ]:
s = []
for x in range(10):
  s.append(x**2)
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = [ x**2  for x in range(10) ]#위값 동일
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = []
for x in range(10):
  if x % 2 == 0:
   s.append(x**2)
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s = [ x**2  for x in range(10) if x % 2 == 0 ]
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s = []
for i in range(1,3):
   for j in range(4,8):
     print('{}{}'.format(i,j))
     s.append((i,j))#괄호가 두개인이유:tuple값을 가지고 들어가기위해
print(s)

14
15
16
17
24
25
26
27
[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

In [ ]:
s = [(i,j) for i in range(1,3) for j in range(4,8)]
print(s)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

총판매금액을 구하는 프로그램(list comprehension을 사용)
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]

In [ ]:
s = []
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]
for i, j in zip(cnt, prod):
  s.append(i*j)

print(sum(s))

2900

In [ ]:
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]
s = sum([i*j    for i, j in zip(cnt, prod) ])
print(s)

2900

'e'가 포함되어 있는 과일들만 추출해서 대문자로 출력하는 프로그램을 구현하세요.
fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']

[출력결과]
['APPLE', 'CHERRY', 'GRAPE']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']
s =[item.upper() for  item in fruits     if 'e' in item.lower() ]#대문자 소문자 상관없이 가져오려면 뒤에 lower작업
   #대문자로   fruits란 아이템을 가져와라   e가 들어갔니?
print(s)

['APPLE', 'CHERRY', 'GRAPE']

[문제1]  
리스트에 저장된 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력하도록 구현하세요.  

a= ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']  

[출력결과]     
['alpha', 'bravo', 'delta', 'hotel', 'india']

In [ ]:
a= ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
s =[i for i in a if len(i)==5]
s

['alpha', 'bravo', 'delta', 'hotel', 'india']

[문제2]    
가로 크기를 저장한 리스트를 활용해서 가로 크기가 불규칙한  리스트를 생성하도록 프로그램을 구현하세요.

a = [3, 1,3, 2, 5]  


[출력결과]  
[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [ ]:
a = [3, 1,3, 2, 5]
s = [[0]*i  for i in a   ]
print(s)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

[문제3]    
포트폴리오의 총 비용을 계산하는 프로그램을 구현하세요.   

portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]     

[출력결과]  
44671.15

[문제4]  
포트폴리오에서 100주 이상 보유한 종목의 리스트를 출력하는 프로그램을 구현하세요.    
portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]  


[출력결과]    
[{'name': 'AA', 'shares': 100, 'price': 32.2},
 {'name': 'CAT', 'shares': 150, 'price': 83.44},
 {'name': 'MSFT', 'shares': 200, 'price': 51.23},
 {'name': 'IBM', 'shares': 100, 'price': 70.44}]

[문제5]

보유한 MSFT와 IBM주식 전체 리스트를 출력하는 프로그램을 구현하세요.  

portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]  

[출력결과]   
[{'name': 'IBM', 'price': 91.1, 'shares': 50},
 {'name': 'MSFT', 'price': 51.23, 'shares': 200},
 {'name': 'MSFT', 'price': 65.1, 'shares': 50},
 {'name': 'IBM', 'price': 70.44, 'shares': 100}]

[문제6]
보유 종목 중 가격이 10,000달러가 넘는 것의 리스트를 구현하는 프로그램을 구현하세요.  
portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]

[출력결과]    
[{'name': 'CAT', 'price': 83.44, 'shares': 150},
 {'name': 'MSFT', 'price': 51.23, 'shares': 200}]

[문제7]   
portfolio에서 얻은 name과 shares를 가지고 튜플의 리스트 (name, shares)를 만드는 프로그램을 구현하세요.  
portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]

[출력결과]   
[('AA', 100),
 ('IBM', 50),
 ('CAT', 150),
 ('MSFT', 200),
 ('GE', 95),
 ('MSFT', 50),
 ('IBM', 100)]

[문제8]  

리스트에서 int만 추출하는 프로그램을 구현하세요.  
oldlist = [1, 2, 'A', False, 3]

[출력결과]   
[1, 4, 9]

In [ ]:
oldlist = [1, 2, 'A', False, 3]
newlist = [i for i in oldlist if type(i) == int]
newlist

[1, 2, 3]

[문제9]   
1부터 10까지의 홀수, 짝수로 출력하는 프로그램을 구현하세요.

[출력결과]   
{1: '홀수',
 2: '짝수',
 3: '홀수',
 4: '짝수',
 5: '홀수',
 6: '짝수',
 7: '홀수',
 8: '짝수',
 9: '홀수',
 10: '짝수'}

### dict comprehension
- 사전 정의시 값을 정하지 않고 호출시 사전 내의 값들이 처리되도록 구성
- A = {표현식 for (k,v) in 반복가능객체 if 논리식}

In [ ]:
d = {}
for k,v in zip(range(9), range(9)):
   d[k]=v
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [ ]:
d = { k:v for k, v in zip(range(9), range(9))}
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [ ]:
a = { 'x':1, 'y':2, 'z':3 }
b = {'w':10, 'x':11, 'y':2}
print(a.keys())
print(b.keys())
c = a.keys() - b.keys()
print(c)
print(type(c))
d = c.pop()
print('{}:{}'.format(d, a[d]))#pop함수의 경우 완전히 꺼내오는거기때문에 중복사용불가
print(type(d))                # 객체생성하여 쓸수있음.
                              #set형식이기때문에 문자열타입을 바꿔줘서 한다

dict_keys(['x', 'y', 'z'])
dict_keys(['w', 'x', 'y'])
{'z'}
<class 'set'>
z:3
<class 'str'>

In [ ]:
a = { 'x':1, 'y':2, 'z':3 }
b = {'w':10, 'x':11, 'y':2}
k = {key:a[key] for key in a.keys()-b.keys() }#dict는 중괄호dict이기때문에 처음에 key:value를 지정
print(k)

{'z': 3}

### set comprehension
- Set 정의시 값을 정하지 않고 호출시 Set내의 값들이 처리되도록 구성
- A = {표현식 for 항목 in 반복가능객체 if논리식}

In [ ]:
#set은 {}이고 중복 x 이므로 중복값 x
k = {(i,j)  for i in range(1,3) for j in range(4,8)}
print(k)

{(2, 4), (2, 7), (1, 5), (1, 4), (1, 7), (2, 6), (1, 6), (2, 5)}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive