<a href="https://colab.research.google.com/github/qotkdals/python_demo/blob/master/102_python_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수(function)
- 함수: 특정 목적을 가진 코드의 집합이며 독립적으로 호출될 수 있는 기능이다.
- 함수 구조-python함수의 시작 def
```python
   def 함수이름(parameter_1,parameter_2)-매개변수
       수행할 문장
       return 결과값
```
- 함수 호출
```
    함수이름(argument_1,argument_2)
```
parameter : 인자, argument: 인수

In [ ]:
# 함수를 정의할때 수행할 문장을 구현하지않으면 에러가 발생한다.
def proc( ):
  pass # pass는 구현을 안할때 오류가 발생하지 않도록 사용한다.

In [ ]:
print(proc())#함수를 실행한 결과값 리턴

None

In [ ]:
print(proc)#함수식 자체를 리턴

<function proc at 0x7f4bcfa7b250>

In [ ]:
#python만!
#함수를 객체의 값으로 쓸수 있다
#함수의 식을 변수로 사용가능
a = proc
print(a())

None

## callable
 - 이름 뒤에( )를 붙이는 call(호출)이라고 한다.
 - 이름 뒤에( )를 붙일 수 있는 것을 callable이라고 한다.
 - 함수는 사용할 때 이름뒤에 괄호를 붙인다.
 - python에서 callable인 것은 3가지 유형이 있다.
  - (1)function
  - (2)class(init가 정의되었을 경우)
  - (3)object(call이 정의 되었을 경우)

In [ ]:
k = 1
k()#error 'int' object is not callable int객체 뒤에 바로 ()를 붙일수 없다

TypeError: ignored

In [ ]:
list()#내장함수 변수를 선언하면 기존 내장함수의 값을 잃어버린다

[]

In [ ]:
def prn():
   return 1

In [ ]:
prn()

1

In [ ]:
# 내장함수임 callable은 built-in함수로 ( )을 붙여 사용할 수 있는지를 논리값 True/False로 알려준다.
callable(k)#괄호를 붙일수 있는지확인 붙일수 없으므로 False

False

In [ ]:
callable(prn)#prn이라는 함수뒤에는 붙일수 있다고 나옴

True

In [ ]:
#함수를 먼저 정의
#파리미터 (인자) 리턴값이 있는 함수 정의
def max(x, y):
  if x > y:
    res = x
  else :
    res = y
  return res

In [ ]:
#축약버전
def max(x, y):
  if x > y:
    return x#조건값을 만족하면 수행하고 아니면 나온다
  else :
    return y

In [ ]:
# 함수를 호출
max(10, 5)

10

### 함수를 정의할때 4가지 버전

In [ ]:
#파리미터 (인자) 있고 리턴값이 없는 함수 정의
def max(x, y):
  if x > y:
    print(x)
  else :
    print(y)

In [ ]:
#python은 리턴값을 명시안하면 None 값을 리턴한다
#다른 프로그램은 리턴값을 명시안해주면 오류가뜸
print(max(10, 5))

10
None

In [ ]:
# 파리미터(인자)도 없고 리턴값이 없는 함수 정의
def max(x, y):
  x = 10
  y = 5
  if x > y:
    print(x)
  else :
    print(y)

In [ ]:
print(max(10, 5))

10
None

In [ ]:
# 파리미터(인자)도 없고 리턴값이 있는 함수 정의
def max():
  x = 10
  y = 5
  if x > y:
    return x
  else :
    return y

In [ ]:
print (max())

10

## paramater 와 argument - 공부,암기
1. positional
2. keyword
3. positional & keyword
4. positional only
5. keyword only
6. 가변 positional
7. 가변 keyword

1. positional
 - 함수 호출 : 선언할 때 파라미터의 순서와 호출할때 argument의 입력순서를 그대로 매칭한다.(순서,갯수 동일)

In [ ]:
def proc(a, b):
  return a, b #tuple 기호 생략.여러개가 가능한것이 아닌 tuple 값을 리턴한다

In [ ]:
proc(2,4)# 2라는값과 4라는 값이 동일한 위치로 매칭된다

(2, 4)

2. keyword
- keyword 방식을 이용하면 순서와 상관없이 parameter이름에 따라 값이 대입된다.

In [ ]:
proc(b=4, a=2)#순서와 상관없이 parmeter이름에 따라 값이 대입

(2, 4)

3. keyword & positional 혼합

In [ ]:
def proc(a, b, c):
  return a, b, c

In [ ]:
proc(2, c=5, b=3)#Error: positional argument follows keyword argument
                 #positional값은 반드시 앞에 와야한다. 뒤에올수 없다

(2, 3, 5)

In [ ]:
#한번 keyword 방식을 사용하면, 그다음부터는 keyword방법만 사용할 수 있다.
proc(c=5, 2, b=3)

SyntaxError: ignored

In [ ]:
#파이썬 버전확인
! python --version

Python 3.10.12

4. positional only
- prositional only는 함수를 사용할 때 prositional방식으로만 parameter를 쓸 수 있도록 강제하는 방법이다.
- / 의 앞에 오는 parameter들은 positional방식으로 입력할 수 있지만, keyword방식으로 입력할 수 없다.
- positional only 함수를 정의할 수 있는 것은 python 3.8부터 지원한다. 이전 버전에서는 사전 정의된 positional only함수는 있지만, 사용자가 만들 수는 없었다.

In [ ]:
def proc(a, b, c, /):
  return a, b, c

In [ ]:
proc(4, 5, 6)

(4, 5, 6)

In [ ]:
#positional만 가능하다 keyword불가
proc(4, c=6, b=5)#Error: proc() got some positional-only arguments passed as keyword arguments: 'b, c'

TypeError: ignored

In [ ]:
#positional에서 앞에만 positional이면 문제없다 뒤에는 keyword가능
def proc(a, b, /, c, d):
  return a, b, c, d

In [ ]:
proc(4,5,6,7)

(4, 5, 6, 7)

In [ ]:
proc(4,5,d=7,c=6)

(4, 5, 6, 7)

5. keyword only
- keyword only방식은 keyword방식으로만 입력하도록 강제하는 방법이다.
- '*'이후로는 keyword 방식만 가능하다.

In [ ]:
def proc(*, a, b, c, d):
  return a, b, c, d

In [ ]:
proc(a=3, c=5, b=4, d=6)

(3, 4, 5, 6)

In [ ]:
def proc(a, b, *, c, d):#*이후로는 무조건 keyword방식
   return a, b, c, d

In [ ]:
proc(3, 4, d=6, c=5)

(3, 4, 5, 6)

6. 가변 positional
- 가변 positional은 parameter 이름에 '*'를 붙인다.
- positional방식으로 입력되는 argument의 갯수에 상관없이 모두 받아온다.

In [ ]:
#*a일때 갯수에 상관은 없지만 반드시 positional방식에 맞춰서 준다
def proc(*a):
  print(type(a))
  return a

In [ ]:
print(proc())

<class 'tuple'>
()

In [ ]:
print(proc(1))

<class 'tuple'>
(1,)

In [ ]:
print(proc(1,2,3))

<class 'tuple'>
(1, 2, 3)

7. 가변 keyword
- 가변 keyword는 parameter 이름에 '**'를 붙인다.
- keyword 방식으로 입력되는 argument의 개수에 상관없이 모두 받아온다.

In [ ]:
#**두개를 붙이면 dict값으로 표현된다.
# 가변 keyword는 한번만 선언한다.
def proc(**a):
  print(type(a))
  return a

In [ ]:
proc(x=2, y=3)

<class 'dict'>

{'x': 2, 'y': 3}

In [ ]:
proc(x=3, y=1, z=[1,2,3])

<class 'dict'>

{'x': 3, 'y': 1, 'z': [1, 2, 3]}

가변 positional / 가변 positional은 한번만 사용할 수 있다.

In [ ]:
def proc(*a,*b):#오류 선언할때는 한번만 가능
  return a, b

In [ ]:
def proc(**a,**b):#오류 선언할때는 한번만 가능
  return a, b

SyntaxError: ignored

In [ ]:
#반복된 작업들을 함수로 정의하고 함수로 사용
x=3; y=5
result = x + y
print(result)

x=4; y=8
result = x + y
print (result)

x=5; y=6
result = x + y
print (result)

8
12
11

In [ ]:
def plus(x, y):#더해주는 함수를 구현 내장함수 내장객체를 제외한 임의의 이름을 지정가능
               #숫자와 문자를 섞어서 지정해도 되지만 앞에는 숫자 x 숫자도 잘안씀
  result = x + y
  return result

In [ ]:
plus(3,5)

8

In [ ]:
plus(4,8)

12

In [ ]:
plus(5,6)

11

## overloading,override
- 함수의 이름은 같은데, parameter 갯수 또는 parameter 타입이 달라야 한다.
- python은 overloading을 지원하지 않는다.

In [ ]:
def add(a):
  return a+1

In [ ]:
add(6)

7

In [ ]:
#이름이 같으나 매개변수의 갯수가 다른경우
#overloading = 새로운 값이 기존의 값에 붙여넣기 됨
def add(a, b):
  return a+b

In [ ]:
add(1,2)

3

In [ ]:
add(3)#기존의 값이 새로운값으로 변경

TypeError: ignored

In [ ]:
sum([1,2,3])

6

In [ ]:
def sum(a, b):
  return a+b

In [ ]:
sum(1,2)

3

In [ ]:
sum(1,2,3)#내장함수도 overloading하면 기존의 의미를 잃어버린다.

TypeError: ignored

In [ ]:
del sum#새로 정의한 sum함수의 값을 지운다.

In [ ]:
type(add)#fuction=함수

function

In [ ]:
print(dir(add))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
#__name__은 함수이름을 출력
add.__name__

'add'

In [ ]:
display = add

In [ ]:
display(2,3)

5

In [ ]:
#함수를 다른 함수에 재할당해도 __name__은 원래 함수명을 알려준다.
display.__name__#내장되어 있는 함수의 종료를 확인할수있다.

'add'

In [ ]:
type(display)

function

정수 5개의 argument을 받는 exam함수를 정의해서 합계와 평균을 계산하는 프로그램을 구현하세요.

In [ ]:
#복습
def exam(a,b,c,d,e):#선언받는
   hap = a+b+c+d+e
   avg = hap / 5
   print('합계:{}'.format(hap))
   print('평균:{}'.format(avg))

In [ ]:
exam(2,3,4,5,6)

합계:20
평균:4.0

str데이터 타입의 argument을 받는 display함수를 정의하고 문자열의 갯수를 리턴하는 프로그램을 구현하세요

In [ ]:
def display(k):
  return len(k)

In [ ]:
display('apple')

5

str데이터 타입의 argument을 받는 display함수를 정의하고 특정 인덱스에 문자를 리턴하는 프로그램을 구현하세요

In [ ]:
def display(k,i):
  return k.index(i)

In [ ]:
display('apple', 'a')

0

In [ ]:
def display(k,i):
  return k.index(i)

In [ ]:
display('apple', 'f')#find 찾는 값이 없으면 오류
                     #index 찾는 값이 없으면 -1리턴

ValueError: ignored

특정년도의 윤년이면 True, 평년이면 False를 구해서 리턴하는 프로그램을 구현하세요.

In [ ]:
def isLeapYear(year):
  if (year % 4 ==0 and year % 100 !=0) or year % 4 == 0:
    return True
  else:
    return False

In [ ]:
year = 2016
if isLeapYear(year):
  print('{}년도는 {}입니다.'.format(year, '윤년'))
else:
  print('{}년도는 {}입니다.'.format(year, '평년'))

2016년도는 윤년입니다.

In [ ]:
year = 2017
if isLeapYear(year):
  print('{}년도는 {}입니다.'.format(year, '윤년'))
else:
  print('{}년도는 {}입니다.'.format(year, '평년'))

2017년도는 평년입니다.

In [ ]:
def resultYear(b):#기존의 논리값을 받았으니까 또 논리값을 받아야한다
  if b : #함수를 받을때 뭘받아야하는지 몇개를 받아야하는지 확인
    print('{}년도는 {}입니다.'.format(year, '윤년'))
  else:
    print('{}년도는 {}입니다.'.format(year, '평년'))

In [ ]:
year = 2017
checkYear = isLeapYear(year)
resultYear(checkYear)

2017년도는 평년입니다.

2개의 요소가 저장된 list 데이터 타입의 reverse하는 함수를 구현하세요.

In [ ]:
def swap(data):
  a, b=data
  return [b, a]#unpacking해서 리턴해준다
               #unpacking 기존의 포장을 풀고 이름을 추가해주는 방법

In [ ]:
swap([1,3])

[3, 1]

In [ ]:
for k in swap([1,3]):
  print(k, end=' ')

3 1

In [ ]:
def swap(data):
   return [ i for i in reversed(data)]#reversed-함수가 사용된후 a의 기존값을 원할때

In [ ]:
a = [1,3,4,5,6]
print(swap(a))
print('변경후:',a)

[6, 5, 4, 3, 1]
변경후: [1, 3, 4, 5, 6]

In [ ]:
def swap(data):
   #return [ i for i in reversed(data)]#reverse=list에서만 사용가능
    data.reverse()
    return data    #reverse-함수가 사용된후 a의 기존값도 새로운값으로 변하길 원할때

In [ ]:
a = [1,3,4,5,6]
print(swap(a))
print('변경후:',a)

[6, 5, 4, 3, 1]
변경후: [6, 5, 4, 3, 1]

대문자는 소문자로. 소문자는 대문자로 나머지는 그대로 해서 반환하는 프로그램을 구현하세요.

In [ ]:
item = 1#Error: '>=' not supported between instances of 'int' and 'str'문자와 숫자가 연동x
item >= 'A' and item <= 'Z'

TypeError: ignored

In [ ]:
print(chr(97))#chr문자를 숫자로 바꿔줌
print(ord('a'))#ord숫자를 문자로 바꿔줌
print(ord('a')-32)
print(chr(65))
print(str(True))

a
97
65
A
True

In [ ]:
print(int(False))
print(int(True))
print(type(True))

0
1
<class 'bool'>

In [ ]:

def process( arg ):
  data = []
  for item in arg:
    rs = str(item)
    print(rs)
    if rs >= 'A' and rs <= 'Z':
      data.append(chr(ord(item) - 32))
    elif rs>='a' and rs <='z':
      data.append(chr(ord(item) + 32))
    else:
      data.append(item)

In [ ]:
process(['p', 'y', 'T', 1, '_',])

p
y
T
1
_

In [ ]:
a = [1,2,3]
for i in a:
  if i%2==0:
    continue
  print(i)

1
3

In [ ]:
def process( arg ):#['p', 'y', 'T', 1, '_',True]
  data = []
  i = -1
  while i < len(arg)-1:
    i = i + 1
    #if (type(arg[i]) == bool) or (type(arg[i]) == int):
    if type(arg[i]) != str:
      data.append(arg[i])
      continue

    if arg[i] >= 'A' and arg[i] <= 'Z':
      data.append(chr(ord(arg[i]) + 32)) # A (65) a(97)
    elif arg[i]>='a' and arg[i] <='z':
      data.append(chr(ord(arg[i]) - 32))
    else:
      data.append(arg[i])

  return data

      #a.b.c -> a b c
      #a(b(c()))->c b a

In [ ]:
process(['p', 'y', 'T', 1, '_',True])

['P', 'Y', 't', 1, '_', True]

In [ ]:
def process( arg ):#['p', 'y', 'T', 1, '_',True]
  data = []
  i = -1
  while i < len(arg)-1:
    i = i + 1
    if type(arg[i]) != str:
      data.append(arg[i])
      continue

      if arg[i].isupper():
        data.append(arg[i].lower())# A (65) a(97)
      elif arg[i].islower():
        data.append(arg[i].upper())
    else:
      data.append(arg[i])

  return data

In [ ]:
process(['p', 'y', 'T', 1, '_',True])

['p', 'y', 'T', 1, '_', True]

In [ ]:
def process(arg):
  s=[]
  for item in arg:
    if type(item)==str:
      if item.isupper():
        s.append(item.lower())
      elif item.islower():
        s.append(item.upper())
      else:
        s.append(item)
    else:
        s.append(item)
  print(s)

In [ ]:
process(['p', 'y', 'T', 1, '_',True])

['p', 'y', 'T', 1, '_', True]

데이터에서 'a' 는 '_'로, 's'는 '@'로 변경해서 리턴하는 프로그램을 구현하세요.

In [ ]:
def passToken(arg):
  data = []
  for item in arg:
    if item == 'a':
      data.append('_')
    elif item == 's':
      data.append('@')
    else:
      data.append(item)

  return ''.join(data)#tuple,list를 tuple로 바꿀때

In [ ]:
passToken('address') # _ddre@@

'_ddre@@'

python은 외부에서 함수내부로 접근할 수 없다.

In [ ]:
def proc():
  z = 1

In [ ]:
# z는 함수 내에서 할당되었으므로 함수 밖에서 호출할 수 없다.
z

함수 내부에서 외부에 접근할 수 있다.

In [ ]:
c = 10 #전역변수
def display():
  print(c)

In [ ]:
display()

10

함수에서 외부의 값은 접근할 수 있지만 변경은 할수 없다

In [ ]:
t = 3
def prn( ):
  t = t + 1
  print(t)

In [ ]:
prn()

4

global은 내부와 외부의 객체를 동기화(sync)시켜준다.
global은 사용하기는 편하지만 언제 바뀌었는지 흐름을 파악하기 힘들기 때문에 남용은 하지 않는다.

In [ ]:
t = 3
def prn( ):
  global t
  t = t + 1
  print(t)

In [ ]:
prn()

5

In [ ]:
#외부의 자원도 값이 변경이 되어서 출력이 된다.객체값 자체가 변한다.
t

4

외부 함수의 자원을 내부 함수에서 참조할때는 nonlocal을 사용한다.

In [ ]:
k = 1

def outer():
  m = 1
  def inner():#함수두개이므로 외부와 내부를 합치려면 쓰는곳에 global
    global k
    k = k + 1
    nonlocal m#내부함수를 외부로 nonlocal 외부함수를 내부로 global
    m = m + 1
    return  k, m
  return inner()

In [ ]:
outer()

(2, 2)

In [ ]:
def add(a,b):
  return a + b

In [ ]:
add(3,4)

7

## lambda
- python에서는 익명함수를 정의할 때 lambda키워드를 사용한다.
- 간결하게 함수를 표현하거나 def를 정의할 수 없는 경우에 이용한다.

In [ ]:
add = lambda a, b : a + b#접근을 위해 변수 선언

In [ ]:
type(add)

function

In [ ]:
add.__name__

'<lambda>'

In [ ]:
add(3, 4)

7

[문제1]  
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하세요.    
make_url("naver")  

[출력결과]    
www.naver.com

In [ ]:
def make_url(oddd):
  url = 'www.' + url + '.com'
  return url

In [ ]:
make_url('naver')

'www.naver.com'

[문제2]   
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하세요.  
make_list("abcd")  

[출력결과]

['a', 'b', 'c', 'd']

In [ ]:
def make_list(x,y):

   return result

In [ ]:
make_list("abcd")

TypeError: ignored

In [ ]:
def make_list(uu):#make_list라고 입력하면 나오는 함수 uu를 만들겠다
   my_list = [] #리턴되어오는 값을 리스트안으로 넣겠다
   for i in uu:
     my_list.append(uu)#uu의 리스트값을 하나하나 my_list라는 리스트에 넣겠다
   return my_list #my_list를 반복한다

In [ ]:
make_list("abcd")

['abcd', 'abcd', 'abcd', 'abcd']

[문제3]   
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하세요.   

pickup_even([3, 4, 5, 6, 7, 8])

[출력결과]   
[4, 6, 8]

In [ ]:
def pickup_even(pick):
  ab = []
  for i in pick:
    if i%2 == 0 :
     ab.append(i)
  return ab#ab의 값으로 내려간다

In [ ]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

[문제4]  
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하세요.

convert_int("1,234,567")

[출력결과]   
1234567

[문제5]  
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하세요.   
max(10, 2, 5)

[출력결과]  
10

In [ ]:
def max (a,b,c):
  max_val=0
  for i in data:
   if a > max_val:

IndentationError: ignored

In [ ]:
max(10, 2, 5)

[문제6]    
2 와 5의 배수가 아닌 갯수와 합계를 구하는 함수를 구현하세요.    

resultr(1, 3, 5, 8, 9, 11, 15, 19, 18, 20, 30, 33, 31)  

[출력결과]    
2 와 5의 배수가 아닌 갯수 : 7    
2 와 5의 배수가 아닌 합계 : 107   

==============================================  
result(5,2,7,9,10,8,6)     

[출력결과]    
2 와 5의 배수가 아닌 갯수 :  2
2 와 5의 배수가 아닌 합계 :  16

In [ ]:

def result(*data):
  cnt = 0
  total = 0

  for i in data:
      if i % 2 != 0 and i % 5 != 0:
          cnt +=  1
          total += i



  print("2 와 5의 배수가 아닌 갯수 : ", cnt)
  print("2 와 5의 배수가 아닌 합계 : ", total)

In [ ]:
def result(*data):
    cnt = 0
    total = 0

    for i in data:
        if i % 2 != 0 and i % 5 != 0:
            cnt +=  1
            total += i

    print("2 와 5의 배수가 아닌 갯수 : ", cnt)
    print("2 와 5의 배수가 아닌 합계 : ", total)

In [ ]:
result(5,2,7,9,10,8,6)

2 와 5의 배수가 아닌 갯수 :  2
2 와 5의 배수가 아닌 합계 :  16